* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

li {
  gap: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.about-us-container {
  background-image: url(../../images/patrick-schneider-5xltWMpkN3E-unsplash.jpg);
  height: 100vh;
  width: 100%;
}

.menu-container {
  background-image: url(../../images/patrick-schneider-5xltWMpkN3E-unsplash.jpg);
}

.contact-container {
  background-color: gray;
}

.menu-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2em;
}

.dishes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 250px;
  padding-top: 30px;
  border-bottom: 3px solid orange;
}

ul li {
  cursor: pointer;
  color: white;
}
ul li:hover {
  color: orange;
}

.hr {
  width: 100%;
  margin-left: 2%;
}

.icon {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}

.fa-star {
  color: #000;
  cursor: pointer;
}
.fa-star:hover {
  color: orange;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.about-items {
  margin-top: 1em;
}

#paragraph {
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
}

.header {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#i {
  color: orange;
}

.pr {
  margin-left: 70px;
}

.about-section {
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
}

#p {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  color: white;
}

#all {
  border-bottom: 3px solid orange;
  border-left: 3px solid orange;
  border-right: 3px solid orange;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 600px) {
  #all {
    width: 100%;
    flex-direction: column;
  }
  .about-content {
    width: 100%;
    flex-direction: column;
  }
  .dishes {
    font-size: 10px;
    gap: 25px;
  }
  .header {
    font-size: 20px;
  }
  #paragraph {
    font-size: 13px;
  }
}
.about-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20em;
  margin-top: 3em;
}

.btn-send {
  padding: 10px;
  margin-top: 30px;
  background-color: orange;
  border: 2px solid orange;
  border-radius: 5px;
  cursor: pointer;
}
.btn-send:hover {
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
}

#input {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-right: 50px;
  background: transparent;
  color: white;
  border: 3px solid orange;
}

#input-id {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-right: 200px;
  padding-bottom: 100px;
  background: transparent;
  color: white;
  border: 3px solid orange;
}

#contact {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

#services {
  margin-top: 7%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}

.our-services {
  background: rgba(0, 0, 0, 0.7);
  padding: 2em;
  width: 100%;
  margin: 0 auto;
}

#care {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px;
  gap: 10px;
}

.about-main {
  margin-bottom: 50px;
}

#k {
  padding-top: 30%;
}

.a {
  margin-left: 10px;
}

#es {
  margin-right: 20px;
  padding-top: 15%;
}

#m {
  margin-left: 8%;
}

#cc {
  margin-bottom: 30px;
  color: orange;
  margin-top: -200px;
}

#d {
  color: white;
}

#pp {
  margin-top: 5px;
  margin-bottom: 10px;
  color: white;
}

.way-to-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 80px;
  margin-bottom: 20px;
}

.our {
  color: white;
}

.reach {
  color: orange;
}

.way-to {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 60px;
  margin-bottom: 20px;
}

.contact-us {
  text-align: center;
  background-color: orange;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .about-main {
    flex-direction: column;
  }
}
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  gap: 3em;
}

#made-food {
  margin-bottom: 15px;
  color: orange;
}

.How-We-Work {
  text-align: center;
  margin: 2em 2em;
  color: white;
}

#h3 {
  margin-bottom: 15px;
  color: orange;
  font-weight: 600px;
  margin-top: 10px;
}

#p-white {
  color: white;
}

.mission {
  font-size: 20px;
  border: 3px solid orange;
  padding: 30px;
  border-radius: 30px;
}

.how {
  display: flex;
  gap: 2em;
  justify-content: center;
}

.work-done {
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
  color: black;
  padding: 2em;
  border: 3px solid orange;
  border-radius: 30px;
}

.location {
  display: flex;
  align-items: center;
  gap: 4em;
  justify-content: center;
}

.special-heading {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
}

.freshly-food {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn-more {
  margin-top: 2em;
  margin-bottom: 2em;
  background: transparent;
  color: wheat;
  border: 2px solid orange;
  cursor: pointer;
  padding: 10px 30px;
}
.btn-more:hover {
  background-color: wheat;
  color: black;
  border: 2px solid #000;
}

.work-how {
  justify-content: center;
  align-items: center;
}

#place-located a {
  color: white;
}
#place-located a:hover {
  color: orange;
}

.Headquaters {
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .about-us {
    flex-direction: column;
  }
  .we-work {
    gap: 30%;
  }
  .how {
    margin-left: 10px;
    margin-right: 10px;
  }
}