* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  
}
li {
  gap: 20px;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.about-us-container{
  background-image: url(../../images/patrick-schneider-5xltWMpkN3E-unsplash.jpg);
  height: 100vh;;
  width: 100%;
}

.menu-container{
  background-image: url(../../images/patrick-schneider-5xltWMpkN3E-unsplash.jpg);
}
.contact-container{
  background-color: gray;
}