@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

.menu-content{
   justify-content: center;
   align-items: center;
   text-align: center;
}

.dishes{
    @include flex(center,center);
    gap:250px;
    padding-top:30px;
    margin-right:7%
    

}
ul{
    li{
        cursor: pointer;
        color: white;
        &:hover{
            color:$primary-color
        }
    }
}
.hr{
    width:100%;
    margin-left: 2%;
}

#img{
    
    // border:2px solid $black;
    
}

.icon{
   justify-content: center;
   align-items: center;
   text-align: center;
    padding-top:30px ;
    
}
.fa-star{
    color:$black;
    cursor: pointer;
    &:hover{
        color: $primary-color;
    }
}
// #p{
//     margin-right: 45%;
//     padding-top: 20px;
// }
.about-content{
    @include flex(space-between, center);
    // gap:30px
}
 .about-items{
margin-top: 1em;
     
}

#paragraph{
   margin-bottom: 10px;
   margin-top: 10px;
}
.header{
    font-size: 32px;
    font-weight: bold;
}
#i{
    color:$primary-color
}
.pr{
    margin-left:70px
}
.about-section{
align-items: center;
justify-content: center;
text-align: center;
text-align: center;

    
}
#p{
    justify-content: center;
   align-items: center;
   text-align: center;
   padding-top:20px ;
}

#all{
    border-bottom: 3px solid orange;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    // border-radius: 30px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,0.4);
}